body{
    background-color: #000000;
    height: 100vh;
    margin : 0px;
  }
  table{
    border-collapse: collapse;
    width: 50vw;
    height:50vh;
  }
  td{
    border: solid 1px white;
    border-collapse: collapse;
    width: 33.33%;
    height:33.33%;
    color: #ffffff;
    padding: 5px;
    text-align: center;
  }
  td:hover{
    background-color: rgb(2, 12, 52);
  }
  .bl-0{
    border-left: 0px;
  }
  .br-0{
    border-right: 0px;
  }
  .bt-0{
    border-top: 0px;
  }
  .bb-0{
    border-bottom: 0px;
  }
  #top{
    height: 10vh;
  }
  #game-container{
    height: 80vh;

  }
  #game{
    padding-top: 20px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .chance{
    width: 50%;
    height:100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-62,
  .btn-62 *,
  .btn-62 :after,
  .btn-62 :before,
  .btn-62:after,
  .btn-62:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  .btn-62 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
  .btn-62:disabled {
    cursor: default;
  }
  .btn-62:-moz-focusring {
    outline: auto;
  }
  .btn-62 svg {
    display: block;
    vertical-align: middle;
  }
  .btn-62 [hidden] {
    display: none;
  }
  .btn-62 {
    background: none;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: 1.5rem 4rem;
    position: relative;
    text-transform: uppercase;
  }
  .btn-62 span {
    background: #fff;
    border: 1px solid;
    border-radius: 999px;
    display: grid;
    inset: 0;
    place-items: center;
    pointer-events: none;
    position: absolute;
  }
  .btn-62:hover span {
    -webkit-animation: wobble 0.8s;
    animation: wobble 0.8s;
  }
  @-webkit-keyframes wobble {
    0% {
      transform: translateZ(0);
    }
    15% {
      transform: translate3d(-25%, 0, 0) rotate(-5deg);
    }
    30% {
      transform: translate3d(20%, 0, 0) rotate(3deg);
    }
    45% {
      transform: translate3d(-15%, 0, 0) rotate(-3deg);
    }
    60% {
      transform: translate3d(10%, 0, 0) rotate(2deg);
    }
    75% {
      transform: translate3d(-5%, 0, 0) rotate(-1deg);
    }
    to {
      transform: translateZ(0);
    }
  }
  @keyframes wobble {
    0% {
      transform: translateZ(0);
    }
    15% {
      transform: translate3d(-25%, 0, 0) rotate(-5deg);
    }
    30% {
      transform: translate3d(20%, 0, 0) rotate(3deg);
    }
    45% {
      transform: translate3d(-15%, 0, 0) rotate(-3deg);
    }
    60% {
      transform: translate3d(10%, 0, 0) rotate(2deg);
    }
    75% {
      transform: translate3d(-5%, 0, 0) rotate(-1deg);
    }
    to {
      transform: translateZ(0);
    }
  }
  